.code-editor-window {
  /* display: none; -- should be none for prod */
  width: 547px;
  position: absolute;
  margin-left: 280px;
  width: fit-content;
}

.code-editor {
  background: GhostWhite;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  font-family: 'PT Mono', monospace;
  line-height: 20px;
}

#code-question, #display-pane-map-elem {
  display: flex;
  align-items: center;
}

#code-question {
  width: 500px;
}

#codeview2 {
  display: block;
}

#map-elem-code-chevron, #codeview0 {
  display: none;
}

.var-value-code-inspect {
  background-color: #0000ff8a;
  cursor: pointer;
  color: white;
}

.var-value-show {
  background-color: yellow;
  cursor: pointer;
  color: black;
}

.tutorons-code-inspect {
  /* background-color: lightgreen; */
  cursor: pointer;
  /* color: white; */
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}

/* Tooltip text */
.tutorons-text {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  padding: 5px 0;
  border-radius: 6px;
  padding: 5px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* to align above */
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tutorons-code-inspect:hover .tutorons-text {
  visibility: visible;
}