.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#toggle-console {
    position: fixed;
    left: 25%;
    top: 5px;
}

#change-demos-wrapper {
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 20px;
}

#change-console {
  width: 300px;
  /* height: 300px; */
  background-color: lightblue;
  z-index: 1000;
  text-align: left;
  padding-left: 10px;
}

#server-images {
  min-width: 470px;
  max-width: 470px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.server-img-tile {
  border: 2px lightblue solid;
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  background-color: white;
  font-size: 8px;
}

.var-name {
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: lightblue;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
  margin-top: 125px;
  margin-left: 30px;
  font-size: 14px;
  text-align: left;
  line-height: 1.1;
}

/************/
/************/
/* DROPDOWN */
/************/
/************/
.coords {
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: #add8e6ad;
	/* opacity: .8; */
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	margin-top: 90px;
  margin-left: 60px;
  text-align: left;
  line-height: 1.1;
}

.dropdownBtn {
  background-color: #add8e6ad;
  color: black;
  font-size: 16px;
  border-top: 1px solid black;
  padding: none;
}

.prevValsDropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 2px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.prevValsDropdown:hover .dropdownContent {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.prevValsDropdown:hover .dropdownBtn {background-color: #3e8e41;}


/************/
/************/
/* DROPDOWN */
/************/
/************/

p {
  margin: 12px 0px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
}

.fxn-pane-btn {
  width: 56px;
  /* border: none; */
  border: 1px solid white;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 2px;
  width: fit-content;
}

.active {
  background-color:cornflowerblue;
  color:white;
  /* box-shadow: cornflowerblue 2px 3px; */
}

.fxn-pane-btn:hover {
  box-shadow: grey 2px 3px;
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
}

/* #active-fxn-tag {
  background-color: cornflowerblue;
  font-size: 11px;
  color: white;
  width: fit-content;
  padding: 3px;
  margin: 5px auto 0px;
} */

.see-active-tag {
  background-color: cornflowerblue;
  font-size: 11px;
  color: white;
  width: fit-content;
  padding: 3px;
  margin: 5px auto 0px;
}

.fxn-pane-section {
  margin: 10px 0px 0px;
  color: #f1f1f1;
}

.value-def {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.more-chevron {
  margin: 12px;
  color: white;
  font-weight: bolder;
  border: white 1px solid;
  cursor: pointer;
}

#position-1, #scroll-delta-1, .nested {
  display: none;
}

/* .nested {
  display: none;
} */

.inspect-code {
    background-color: #0000ff8a;
    cursor: pointer;
    color: white;
}

/* in the case where all the definition stuff is in another function... based on the top button styling -- want a way to show and switch to that function pane */
.switch-function-tiptool {
  width: 56px;
  /* border: none; */
  border: 1px solid white;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 2px;
  width: -moz-fit-content;
  width: fit-content;
}

.fxn-pane {
  display: none;
}

#update-fxn-pane {
  display: block;
}

.all-learning-steps {
  list-style: none;
  margin: 0px 10px 0px 0px;
}

.learning-step {
  background-color: lightgrey;
  padding: 1px 10px 1px 1px;
  border: 1px black solid;
  margin-bottom: 5px;
  width: 90px;
}




/* .svg-style-path {
  stroke: 'red';
  stroke-width: 1.25px;
  fill: none;
  marker-end: url(#arrow);
} */

/**********************/
/**********************/
/* Code Editor Styles */
/**********************/
/**********************/
/**********************/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(https://fonts.gstatic.com/s/ptmono/v7/9oRONYoBnWILk-9AnC8zNg.ttf) format('truetype');
}

body {
  font-family: Lato, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}

#code-editor {
  /* z-index: 100000 !important; */
}

.window {
  width: 547px;
  background: GhostWhite;
  border-radius: 0.3rem;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.window .window-body {
  /* position: relative; */
  display: inline-block;
  /* height: 300px; */
}
.window .window-body .code-input,
.window .window-body .code-output {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  font-family: 'PT Mono', monospace;
  font-size: 0.8rem;
  background: transparent;
  white-space: pre-wrap;
  line-height: 1.5em;
  word-wrap: break-word;
}
.window .window-body .code-input {
  position: relative;
  /* opacity: 0.7; */
  margin: 0;
  color: #999;
  resize: none;
  margin: 0;
  padding: 0px 5px;
}
.window .window-body .code-output {
  pointer-events: none;
  z-index: 3;
  margin: 0;
  overflow-y: auto;
}
.window .window-body .code-output code {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1rem;
  display: block;
  color: #666;
  font-size: 0.8rem;
  font-family: 'PT Mono', monospace;
}
a.token {
  text-decoration: none;
}
.token.selector,
.token.punctuation,
.token.keyword {
  color: PaleVioletRed;
}
.token.property,
.token.number,
.token.string,
.token.punctuation,
.token.tag-id {
  color: DodgerBlue;
}
.token.function,
.token.attr-name {
  color: CadetBlue;
}
.token.atrule .atrule-id {
  color: BlueViolet;
}
.token.boolean {
  color: LightSlateGray;
}
.token.comment {
  color: DarkGrey;
}
.language-php .variable {
  color: CadetBlue;
}

.line-wrap {
  display: flex;
  /* flex-wrap: wrap; */
}

.line-num {
  color: lightblue;
  font-style: italic;
  font-weight: bolder;
  margin-right: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.line-code-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}





/* START GENERAL FORMAT */
body{
	background-color:white;
	text-align:center;
	font-size:16px;
	/* font-variant:small-caps; */
	/* font-family:Lucida,Helvetica,sans-serif; */
	font-family: Arial, Helvetica, sans-serif;
	font-weight:500;
	text-decoration: none;
	position: absolute;
	left: 50%;
	width: 780px;
	margin-left: -390px;
}
a{
	color:#96A8C8;
	text-decoration:none;
	font-weight:800
}
a:hover{
	text-decoration:underline
}
img{
	/* border:3px red solid; */
	border: none;
}
.box { /*any of the box layouts & white backgrounds*/
	background:white;
	border-style:solid;
	border-width:1.5px;
	border-color:#071419;
	border-radius: 12px;
	-moz-border-radius: 12px;
}
/* END GENERAL FORMAT */
/* START UPPER LAYOUT */
#topContainer{
	width:780px;
	position:relative;
	overflow:hidden;
}
#topLeft{
	width:166px;
	float:left;
	position:relative;
	text-align:left;
	padding: 17px;
}
#topLeft ul {
    margin: 0;
    list-style-type: none;
}
#topLeft a {
    color: #282B30;
    font-size: 21px;
    font-weight: 800;
}
#topLeft a:hover {
    text-decoration: underline;
}
#bgLeft {
	float: left;
	left:0;
	width: 200px;
	bottom:0;
	top: 0px;
}
#topRight {
	width:560px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	float:right;
	position:relative;
	text-align:left;
	line-height: 150%;
}
#masthead {
	display: block;
}
#slogan {
        padding: 20px;
	display: inline-block;
	font-size: 20px;
	font-style: italic;
	font-weight: 800;
	line-height: 120%;
	vertical-align: top;
}
#bgRight {
	right: 0;
	float: right;
	width: 572px;
	bottom:0;
	top: 0px;
}
.bg { /* necessary for positioning box layouts  for bg */
	position:absolute;
	z-index:-1;
}
/* END UPPER LAYOUT */

/*START MIDDLE */
#middleContainer {
	width:780px;
	margin: 5px  auto;
	padding: 10px 0;
}

#ctitle {
    margin: 10px;
    font-size: 21px;
    font-weight: 800;
}

ul.comicNav {
	padding:0;
	list-style-type:none;
}
ul.comicNav li {
	display: inline;
}

ul.comicNav  li a {
	/*background-color: #6E6E6E;*/
	background-color:#6E7B91;
	color: #FFF;
	border: 1.5px solid #333;
	font-size: 16px;
	font-weight: 600;
	padding: 1.5px 12px;
	margin: 0 4px;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 5px 0 gray;
	-moz-box-shadow: 0 0 5px 0 gray;
	-webkit-box-shadow: 0 0 5px 0 gray;
}


ul.comicNav a:hover, ul.comicNav a:focus {
	background-color: #FFF;
	color: #6E7B91;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.comicInfo {
	font-size:12px;
	font-style:italic;
	font-weight:800;
}
#bottom {
	margin-top:5px;
	padding:25px 15px;
	width:750px;
}
#comicLinks {
    display: block;
    margin: auto;
    width: 300px;
}
#footnote {
    clear: both;
    font-size: 6px;
    font-style: italic;
    /* font-variant: small-caps; */
    font-weight: 800;
    margin: 0;
    padding: 0;
}
#licenseText {
    display: block;
    margin: auto;
    width: 410px;
}

#transcript {display: none;}

#middleContainer { position:relative; left:50%; margin-left:-390px; }
#comic .comic { position:absolute; }
#comic .panel, #comic .cover, #comic .panel img { position:absolute; }
#comic .cover { z-index:10; }
#comic table { margin: auto; }

/* @font-face {
  font-family: 'xkcd-Regular';
  src: url('//xkcd.com/fonts/xkcd-Regular.eot?') format('eot'), url('//xkcd.com/fonts/xkcd-Regular.otf') format('opentype');
} */
